<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <title> Speed Reader</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='aboutstyles.css') }}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Molengo"/>
    </head>


        <nav class="navbar">
            <span id="navb"><a href="/">Try It Out!</a>
            <!--<a href="/howitworks" id='hiw'>How It Works</a>-->
            <a href="/aboutus" id='aboutus'>About Us</a></span>
            <img style="width:250px;height:100%;"class = "icon" src="{{url_for('static', filename='logo_sr.png')}}" />
        </nav>


    <!--    <header>
        <h1><img src="{{url_for('static', filename='logo_sr.png')}}" /></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/howitworks">How It Works</a></li>
                    <li><a href="/aboutus">About Us</a></li>                
                </ul>
            </nav>          
    </header> -->

    <body>
        <div style="background:#F4F8F9;height:300px" class="container-fluid">
            <h2 style="padding:230px">Read Less. Learn More.</h2>
        </div>        
        
        <div style="background:linear-gradient(180deg, #F4F8F9 44.19%, #07244F 95.33%);height:300px" class="container-fluid">
        </div> 
        
        <div style="background:#07244F;height:500px;margin-left:15%;margin-right:15%" class="container-fluid">
            <p style="padding:80px">
                Amidst the COVID-19 pandemic, the amount of available digital information is significantly increasing. 
                With all the articles and emails we are continually bombarded with, reading can become an overwhelming task. This is where Speed Reader comes in.
                Speed Reader is here to remove all the excess information from your text files and extract only those that matter. 
                Speed Reader has the capacity to shorten text by up to 80%!
                Whether it's a paper you need to read for class or that article you are interested in that's been opened in a tab but you haven't touched for days...
                <br><br>
                Speed Reader is here to help.          
            </p>
        </div>
        
        <script type="text/javascript" src="{{ url_for('static', filename='aboutus.js') }}">
        </script>
    </body>
</html>